USE [CinemaD]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Age] [nvarchar](10) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetails]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetails](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[TicketPriceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[BookingId1] [int] NOT NULL,
 CONSTRAINT [PK_BookingDetails] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ShowtimeId] [int] NOT NULL,
	[SeatId] [int] NOT NULL,
	[FoodId] [int] NULL,
	[BookingDate] [datetime2](7) NOT NULL,
	[IsConfirmed] [bit] NOT NULL,
	[IsFailed] [bit] NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoAns]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoAns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_DoAns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GheNgois]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GheNgois](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[ScreenId] [int] NOT NULL,
 CONSTRAINT [PK_GheNgois] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaVes]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaVes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_GiaVes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhims]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiPhims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phims]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Duration] [int] NOT NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ImageUrl] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Phims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChieus]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChieus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhongChieus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatViewModels]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatViewModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[IsOccupied] [bit] NOT NULL,
 CONSTRAINT [PK_SeatViewModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuatChieus]    Script Date: 05/11/2025 18:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatChieus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[ScreenId] [int] NOT NULL,
	[Format] [nvarchar](10) NOT NULL,
	[ShowDate] [datetime2](7) NOT NULL,
	[StartTime] [time](7) NOT NULL,
 CONSTRAINT [PK_SuatChieus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250615015235_v1', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250615021304_v2', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250615021912_v3', N'9.0.5')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'2c302dc6-5866-4747-b4c6-17feba51bfa9', N'Employee', N'EMPLOYEE', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'4af79694-e415-41f9-866f-50961102e952', N'Company', N'COMPANY', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'a70ba6bb-a90b-44ab-b55a-f94bb7e42140', N'Customer', N'CUSTOMER', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0cd5250f-3709-478d-956a-4dcb00ac5cb6', N'feee698e-a8f6-4468-ab0e-53290be605ea')
GO
SET IDENTITY_INSERT [dbo].[BookingDetails] ON 

INSERT [dbo].[BookingDetails] ([BookingId], [TicketPriceId], [Quantity], [TotalPrice], [BookingId1]) VALUES (1, 1, 2, CAST(150000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[BookingDetails] ([BookingId], [TicketPriceId], [Quantity], [TotalPrice], [BookingId1]) VALUES (2, 1, 1, CAST(75000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[BookingDetails] ([BookingId], [TicketPriceId], [Quantity], [TotalPrice], [BookingId1]) VALUES (3, 1, 1, CAST(75000.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[BookingDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [UserId], [ShowtimeId], [SeatId], [FoodId], [BookingDate], [IsConfirmed], [IsFailed]) VALUES (1, N'0cd5250f-3709-478d-956a-4dcb00ac5cb6', 1, 1, 1, CAST(N'2025-10-30T15:23:31.7417468' AS DateTime2), 1, 0)
INSERT [dbo].[Bookings] ([Id], [UserId], [ShowtimeId], [SeatId], [FoodId], [BookingDate], [IsConfirmed], [IsFailed]) VALUES (2, N'0cd5250f-3709-478d-956a-4dcb00ac5cb6', 1, 2, 1, CAST(N'2025-10-30T22:24:08.3083138' AS DateTime2), 0, 1)
INSERT [dbo].[Bookings] ([Id], [UserId], [ShowtimeId], [SeatId], [FoodId], [BookingDate], [IsConfirmed], [IsFailed]) VALUES (3, N'0cd5250f-3709-478d-956a-4dcb00ac5cb6', 1, 3, NULL, CAST(N'2025-10-30T22:24:23.2636945' AS DateTime2), 0, 1)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[DoAns] ON 

INSERT [dbo].[DoAns] ([Id], [Name], [Price]) VALUES (1, N'Bắp rang nhỏ', CAST(40000.00 AS Decimal(18, 2)))
INSERT [dbo].[DoAns] ([Id], [Name], [Price]) VALUES (2, N'Nước ngọt', CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[DoAns] ([Id], [Name], [Price]) VALUES (3, N'Combo nhỏ', CAST(65000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DoAns] OFF
GO
SET IDENTITY_INSERT [dbo].[GheNgois] ON 

INSERT [dbo].[GheNgois] ([Id], [Type], [Position], [ScreenId]) VALUES (1, N'Standard', N'A1', 1)
INSERT [dbo].[GheNgois] ([Id], [Type], [Position], [ScreenId]) VALUES (2, N'Standard', N'A2', 1)
INSERT [dbo].[GheNgois] ([Id], [Type], [Position], [ScreenId]) VALUES (3, N'VIP', N'B1', 1)
GO
SET IDENTITY_INSERT [dbo].[GheNgois] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaVes] ON 

INSERT [dbo].[GiaVes] ([Id], [Name], [Price]) VALUES (1, N'Vé tiêu chuẩn', CAST(75000.00 AS Decimal(18, 2)))
INSERT [dbo].[GiaVes] ([Id], [Name], [Price]) VALUES (2, N'Vé VIP', CAST(120000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[GiaVes] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhims] ON 

INSERT [dbo].[LoaiPhims] ([Id], [Name]) VALUES (1, N'Hành động')
INSERT [dbo].[LoaiPhims] ([Id], [Name]) VALUES (2, N'Hành động')
INSERT [dbo].[LoaiPhims] ([Id], [Name]) VALUES (3, N'Hài')
SET IDENTITY_INSERT [dbo].[LoaiPhims] OFF
GO
SET IDENTITY_INSERT [dbo].[Phims] ON 

INSERT [dbo].[Phims] ([Id], [Name], [Duration], [ReleaseDate], [CategoryId], [ImageUrl], [Description]) VALUES (1, N'One Piece', 18, CAST(N'2025-10-27T00:00:00.0000000' AS DateTime2), 1, N'/images/39cb0dc5-3f2a-47d4-baaa-168fd4e12cdd_1160 One Piece (1).jpg', N'siêu nhân')
INSERT [dbo].[Phims] ([Id], [Name], [Duration], [ReleaseDate], [CategoryId], [ImageUrl], [Description]) VALUES (2, N'Fast & Curious', 120, CAST(N'2025-09-01T00:00:00.0000000' AS DateTime2), 1, N'/images/fastcurious.jpg', N'Phim hành động tốc độ.')
INSERT [dbo].[Phims] ([Id], [Name], [Duration], [ReleaseDate], [CategoryId], [ImageUrl], [Description]) VALUES (3, N'Laugh Out Cloud', 95, CAST(N'2025-08-15T00:00:00.0000000' AS DateTime2), 3, N'/images/laughoutcloud.jpg', N'Hài hước công sở.')
SET IDENTITY_INSERT [dbo].[Phims] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongChieus] ON 

INSERT [dbo].[PhongChieus] ([Id], [Name]) VALUES (1, N'Phòng 1')
INSERT [dbo].[PhongChieus] ([Id], [Name]) VALUES (2, N'Phòng 2')
SET IDENTITY_INSERT [dbo].[PhongChieus] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatViewModels] ON 

INSERT [dbo].[SeatViewModels] ([Id], [Position], [IsOccupied]) VALUES (1, N'A1', 0)
INSERT [dbo].[SeatViewModels] ([Id], [Position], [IsOccupied]) VALUES (2, N'A2', 1)
INSERT [dbo].[SeatViewModels] ([Id], [Position], [IsOccupied]) VALUES (3, N'B1', 0)
SET IDENTITY_INSERT [dbo].[SeatViewModels] OFF
GO
SET IDENTITY_INSERT [dbo].[SuatChieus] ON 

INSERT [dbo].[SuatChieus] ([Id], [MovieId], [ScreenId], [Format], [ShowDate], [StartTime]) VALUES (1, 2, 1, N'2D', CAST(N'2025-10-31T00:00:00.0000000' AS DateTime2), CAST(N'18:30:00' AS Time))
INSERT [dbo].[SuatChieus] ([Id], [MovieId], [ScreenId], [Format], [ShowDate], [StartTime]) VALUES (2, 2, 1, N'2D', CAST(N'2025-10-31T00:00:00.0000000' AS DateTime2), CAST(N'21:00:00' AS Time))
INSERT [dbo].[SuatChieus] ([Id], [MovieId], [ScreenId], [Format], [ShowDate], [StartTime]) VALUES (3, 3, 2, N'3D', CAST(N'2025-11-01T00:00:00.0000000' AS DateTime2), CAST(N'19:15:00' AS Time))
SET IDENTITY_INSERT [dbo].[SuatChieus] OFF
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsFailed]
GO
ALTER TABLE [dbo].[GheNgois] ADD  DEFAULT (N'') FOR [Type]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Bookings_BookingId1] FOREIGN KEY([BookingId1])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_Bookings_BookingId1]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_GiaVes_TicketPriceId] FOREIGN KEY([TicketPriceId])
REFERENCES [dbo].[GiaVes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_GiaVes_TicketPriceId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_DoAns_FoodId] FOREIGN KEY([FoodId])
REFERENCES [dbo].[DoAns] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_DoAns_FoodId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_SuatChieus_ShowtimeId] FOREIGN KEY([ShowtimeId])
REFERENCES [dbo].[SuatChieus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_SuatChieus_ShowtimeId]
GO
ALTER TABLE [dbo].[GheNgois]  WITH CHECK ADD  CONSTRAINT [FK_GheNgois_PhongChieus_ScreenId] FOREIGN KEY([ScreenId])
REFERENCES [dbo].[PhongChieus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GheNgois] CHECK CONSTRAINT [FK_GheNgois_PhongChieus_ScreenId]
GO
ALTER TABLE [dbo].[Phims]  WITH CHECK ADD  CONSTRAINT [FK_Phims_LoaiPhims_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[LoaiPhims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phims] CHECK CONSTRAINT [FK_Phims_LoaiPhims_CategoryId]
GO
ALTER TABLE [dbo].[SuatChieus]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieus_Phims_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Phims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SuatChieus] CHECK CONSTRAINT [FK_SuatChieus_Phims_MovieId]
GO
ALTER TABLE [dbo].[SuatChieus]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieus_PhongChieus_ScreenId] FOREIGN KEY([ScreenId])
REFERENCES [dbo].[PhongChieus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SuatChieus] CHECK CONSTRAINT [FK_SuatChieus_PhongChieus_ScreenId]
GO
